/******** Title Wrapper *********/

.title-wrapper {
	margin-top:40px;
	background: #0acbee;
	border-radius: 10px;
}

.btn:focus {
	outline: 0;
}

.btn:active {
	outline: 0;
}

/******** Nav Bar *********/

.nav-bar-item {
	width:12%;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: .75rem;
}

.nav-bar-item a {
	color: white;
}

.nav-bar-item a:hover,
.active a {
	color: #0acbee;
	border-radius: 3px;
	border-color: white;

}

.search-bar {
	width: 20%;
	padding-top: 3px;
}

.nav-container {
	border-style:outset;
	border-width: 2px;
	border-color: black;
	background: black;
	border-radius: 8px;
}

/********** About Us Images ***********/

.grid {
	padding: 20px 20px 20px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 440px;
	margin: 0;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
	border-radius: 10px;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: rgba(0,0,0,.85);
	color: white;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #0acbee;
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #0acbee;
	color: #fff;
}

.cs-style-1 figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	text-align: center;
	backface-visibility: hidden;
	transition: transform 0.3s, opacity 0.3s;
	border-radius: 10px;
}

.cs-style-1 figure:hover figcaption,
.cs-style-1 figure.cs-hover figcaption {
	opacity: 1;
}

.cs-style-1 figcaption h3 {
	margin-top: 70px;
}

.cs-style-1 figcaption span {
	display: block;
}

.cs-style-1 figcaption a {
	margin-top: 30px;
}

/********** Advanced Search ***********/

.search {
	background: #0acbee;
	border-radius: 5px;
}

.btn-search {
	background: #0acbee;
	display: inline-block;
	float: right;
}

.btn-div {
	margin-top: 25px;
}

.btn-search:hover {
	background: white;
	color: #0acbee;
	border-color: black;
}









